.home
  img#mandala.background-image(src="../../assets/mandala.svg")
  img#mandala.background-image(src="../../assets/mandala.svg")
  img#logo(src="../../assets/logo.svg", alt="logotipo poderia ser a gente")
  router-link(to="abada")
    button#confirm.purple Quero meu abadá